@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    max-height: 100%;
}

input, textarea, select{
    @apply border-2 border-gray-300 rounded-md px-1 w-full;
    @apply mb-2; 
}

input:focus, textarea:focus, select:focus{
    @apply border-black;
}

h1{
    @apply text-black mb-2 text-xl;
}

label{
    @apply text-black;
}

.btn-primary{
    @apply bg-black text-white px-4 py-1 rounded-md;
}

table.basic {
    @apply w-full;
}

table.basic thead tr td{
    @apply bg-blue-200
}

table.basic tr td{
    @apply border border-blue-200 p-1;
}

table.basic a{
    @apply bg-black text-white rounded-md text-sm px-2 py-1 inline-flex gap-1 mr-1  ;
}

.btn-default, .btn-red{
    @apply  px-4 py-1 rounded-md;
}

.btn-red {
    @apply bg-red-500 text-white;
}

.btn-default {
    @apply bg-green-600 text-white;
}